mirror_github:
  stage: deploy
  script:
    - git checkout -f -- .
    - (git remote add github git@github.com:OzConseil/docker-php.git || :)
    - git remote set-url github git@github.com:OzConseil/docker-php.git
    - git push -f github HEAD:refs/heads/master
